# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
.Rproj.user
src/*.dll

myexamples.R
todo.txt
very_important_do_not_delete.txt
.Rbuildignore
debugging.R


## for FWA algoeirthm
H_iterate.R
H_on_average_ica_k.R
H_make_h.R
FW_mfwa.R
FW_print.R
H.R
FW_iterate.R
FW_plot.R
