Meta
inst/doc
# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
.Rproj.user
src/*.dll
myexamples.R
todo.txt
**.o
README.md
NEWS.html
.DS_Store
cran-comments.md
inst/.gitignore
inst/.DS_Store
src/.DS_Store
R/.gitignore
^inst/dont_upload$
inst/Building_Vignette.R
doc
